<%- include('../../partials/head.ejs', {title: '404 Page Not Found'}) %>

<div class="container my-container">
    <div class="display-4 text-center">404 Page Not Found</div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>