<%- include('../../partials/head.ejs', {title: 'Internal Server Error'}) %>

<div class="container my-container">
    <div class="display-4 text-center">Internal Server Error</div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>